a {
    text-decoration: none;
    color: inherit;
}

button.link {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;
    text-align: inherit;

    cursor: pointer;
}

button.link:hover {
       text-decoration: underline;
}

